{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if include.type != "banner" %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
          <img src="{{ teaser | relative_url }}" alt="">
        </div>
      {% endif %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% if post.read_time %}
        <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}
      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </article>
  </div>
{% else %}

  <div class="list__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
      
      {% if post.link %}
        <h2><a href="{{ post.link }}">{{ title }}</a></h2>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}

      <figure class="half">
      {% for img in post.gallery %}
        {% if img.url %}
          <a href="{{ img.url | relative_url }}"
            {% if img.title %}title="{{ img.title }}"{% endif %}>
              <img src="{{ img.image_path | relative_url }}"
                   alt="{% if img.alt %}{{ img.alt }}{% endif %}">
          </a>
        {% else %}
          <img src="{{ img.image_path | relative_url }}"
               alt="{% if img.alt %}{{ img.alt }}{% endif %}">
        {% endif %}
      {% endfor %}
      {% if include.caption %}
        <figcaption>{{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}</figcaption>
      {% endif %}
      </figure>

      {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}

      <p class="archive__item-excerpt" itemprop="description">
        <strong>Roles:</strong>
          {% assign lastRole = post.roles | last %}
          {% for r in post.roles %}
            {{ r }}{% unless r == lastRole %},{% endunless %}
          {% endfor %}
        <br />
        <strong>Responsibilities</strong>

        <ul>
          {% for rp in post.responsibilities %}
            <li>{{ rp }}</li>
          {% endfor %}
        </ul>
      </p>
      <hr>
    </article>
  </div>


{% endif %}
