---
layout: page
---

<section>
  {{ content }}
</section>
{% assign gamename = page.title | slugify %}
{% assign mechanics = site.games | where: "game", gamename | reverse %}

{% assign gameData = site.data.games %}


<!-- {% if page.screenshots != empty %}
  <div class="row 50% uniform"> 
    {% for screenshot in page.screenshots %}
      <div class="4u">
        <span class="image fit">
          <img src="games/{{ page.title | slugify }}/{{ page.image_dir }}/{{ screenshot }}" alt="" />
        </span>
      </div>
    {% endfor %}
  </div>
  <hr>
{% endif %} -->


{% unless mechanics == empty %}
<!-- Section -->
</br>
<section>
  <header class="major">
    <h2><s>Struggles!</s> <s>Lessons?</s> Game Mechanics</h2>
  </header>


  <div class="row">
    {% for post in mechanics %}
      {% unless post.tags contains "project" %}
          <div class="12u">
            {% unless post.images == empty %}
              <!-- <span class="image {% cycle 'left', 'right' %}"> -->
              <span class="image right %}">
                {% for image in post.images %}
                  <b>{{ image.label }}</b>
                  <img src="{{ image.link }}" alt="{{ image.label }}"/>
                </br>
                {% endfor %}
              </span>
            {% endunless %}

            {{ post.content | markdownify }}
          
          </div>
        <hr class="12u">
      {% endunless %}
    {% endfor %}
  </div>

</section>

{% endunless %}
<!-- Section -->
<section>
  <div class="">
    {% if page.source-link %}
    <a href="{{page.source-link}}" class="button icon fa-github">Source</a>
    {% endif %}

    {% if page.project-link %}
    <a href="{{page.project-link}}" class="button icon fa-gamepad">Project</a>
    {% endif %}

    {% if page.developer-link %}
    <a href="{{page.developer-link}}" class="button icon fa-globe">Developer Site</a>
    {% endif %}
  </div>
</section>